* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1F2223;
}

.wrapper {
    background-color: pink;
    width: 900px;
    height: 600px;
    margin: 120px auto 0;
}

/* freccia dx e sx */
.arrow-left, .arrow-right  {
    /* background-color: red; */
    float: left;
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-left i, .arrow-right i {
    font-size: 30px;
    color: #D1D1D1;
}

/* carosello immagini */
.carousel-images {
    background-color: lightblue;
    float: left;
    height: 100%;
    width: calc(100% - 140px);
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-images img.active {
    display: block;
}

/* cerchietti colorati*/
.cerchietti {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.cerchietti span{
    width: 18px;
    height: 18px;
    border: 2px solid #D1D1D1;
    border-radius: 50%;
    display: inline-block;
}

.cerchietti span.active {
    background-color: #D1D1D1;
}
